@charset "utf-8";
body {
  border-top: 3px solid #0088CC;
  color: #546E7A;
  font-size: 16px;
  line-height: 1.65;
  letter-spacing: .1em;
}

h1 {
  color: #0088CC;
  font-size: 1.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1.875rem 0 1.5rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1.875rem 0 1.5rem;
}

#header {
  padding: 2rem 0;
  
}

.uploader-wrapper {
  margin-bottom: 1.25rem;
}

.original-wrapper {
  margin-bottom: 1.25rem;
}

.canvas-wrapper {
  background: #F0F0F0;
  height: 480px;
  margin-bottom: 1.25rem;
  overflow: scroll;
  position: relative;
}

#trim-selection {
  background: transparent;
  border: 5px dotted #f2b4b3;
  display: none;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
  z-index: 999;
}

#edit-dialog {
  padding: 1em 0;
}

.process-wrapper {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
#save-dialog {
}

#org-width, #org-height {
  background: #F4F4F4;
}

